<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Location Picker</title>
    <link rel="stylesheet" href="../views/highalert.css">
    <link rel="icon" href="../views/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../views/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/bfc55d4923.js" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=API_KEY%>&libraries=geometry"></script>
</head>
<body>
    <div id="overlay-container">
        <div id="logo-container">
            <img id="animated-logo" src="../views/favicon.png" alt="Animated Logo">
        </div>
    </div>
    <div class="video-background">
        <video autoplay muted loop id="background-video">
            <source src="/views/fine3.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="container">
        <h1 class="headingTing">MyKawach</h1>
        <div class="map-column">
            <div id="map"></div>
        </div>
    </div>
    <!-- <div class="infoTab">
        <p></p>
    </div> -->
    <script>
        const schoolCode = "<%=schoolCode%>";
    </script>
    <script src="../views/highalert.js"></script>
</body>
</html>
