<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Location Picker</title>
    <link rel="stylesheet" href="views/style2.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw-J-GIXFAeH8klm6oA_b6hCXSf7GkSV4"></script>
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop id="background-video">
            <source src="/views/earth.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="container">
        <div class="input-column">
            <form action="../student" method="post">
                <h2>Enter Student Details</h2>
                <label for="kawach">Kawach ID:</label>
                <input type="text" id="imei" name="imei" placeholder="Enter Kawach ID">
                <button id="updateMap" type="submit">Locate</button>
            </form>
        </div>
        <div class="map-column">
            <div id="map"></div>
        </div>
    </div>

    <script src="views/script.js"></script>
</body>
</html>
