<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Location Picker</title>
    <link rel="stylesheet" href="views/style2.css">
    <link rel="icon" href="views/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="views/favicon.png" type="image/x-icon">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmtUpLbdzsCVSlZ9hoh14OLjTUoAJHdts"></script>
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop id="background-video">
            <source src="/views/ab3.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="container">
        <div class="input-list">
            <div class="input-column">
                <form action="../student" method="post">
                    <h2>T r a c k i n g . . .</h2>
                    <!-- <label for="kawach">K a w a c h &nbsp; I D:</label> -->
                    <input type="text" id="imei" name="imei" placeholder="M y K a w a c h &nbsp; I D">
                    <button id="updateMap" type="submit">S t a r t</button>
                </form>
                <button type="button" id="addFieldButton" onclick="addInputField()">+</button>
            </div>
        </div>
        
        <div class="map-column">
            <div id="map"></div>
        </div>
    </div>

    <script src="views/script.js"></script>
</body>
</html>
