
@font-face {
    font-family: Lastica;
    src: url(/views/Lastica.ttf);
}

.video-background {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; */
    position: fixed; /* or absolute if you prefer */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure the video is behind other content */
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit:cover; 
    transform: translate(-50%, -50%);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: transparent;
}

.container {
    display: flex;
    width: 100%;
    height: 80%; 
    z-index: 1;
    background: transparent;
    border-radius: 30px; 
    justify-content: center; 
}

.input-column {
    width: max-content;
    height:max-content;
    
    padding: 20px;
    margin-top: 13.5%;
    box-sizing: border-box;
    border-radius: 30px;
    z-index: 3;
    text-align: center;
    color: white;
    text-align: left;
    
}

.input-column h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.7rem;
    font-family: Lastica;
    padding-left: 10px;
}

.input-column label {
    display: block;
    text-align: left;
    font-size: 1.1rem;
}

.input-column input {
    width: calc(90% - 22px);
    margin: 5px 0;
    box-sizing: border-box;
    background: #303b5ad6;
    border: none;
    border-radius: 23px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: rgb(199, 193, 193);
    font-size: 16px;
    padding: 15px;
    text-align: left;
    display: inline-block;
}

input::placeholder {
    color: rgb(199, 193, 193);
    opacity: 1; /* Adjust opacity if needed */
    font-family: Lastica;
    font-size: x-small;
}

.input-column button {
    background: #ff4800;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
}

.map-column {
    width: 61%;
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.7);  
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

button {
    background-color: #EA4335; /* Normal button color */
    color: white; /* Text color */
    border: none;
    margin-top: 20px;
    border-radius: 12px; /* Rounded corners */
    padding: 12px 24px; /* Padding for size */
    font-size: 16px; /* Font size */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
    text-align: center;
    width: calc(90% - 22px);
    font-family: Lastica;
    font-weight: bold;
}

button:hover {
    background-color: #B41412; /* Hover background color */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

/* @media (max-width: 980px) 
{
    .map-column {
        width: 48%;
        border-radius: 30px; 
        box-shadow: 0 0 30px rgba(0, 255, 255, 0.7);  
    }
} */

/* @media (max-width: 750px) 
{
    body {
        text-align: center;
    }
    .container {
        width: max-content;
        z-index: 1;
        background: transparent;
        border-radius: 30px; 
        display: block;
        text-align: center;
    }

    .input-column {
        width: 80%;
        height:max-content;
        padding: 20px;
        margin-top: 0rem;
        box-sizing: border-box;
        border-radius: 30px;
        z-index: 3;
        text-align: center;
        color: white;
        display:block;
        margin-left: 12%;
    }

    .map-column {
        width: 100%;
        height: 50vh;
        border-radius: 30px; 
        box-shadow: 0 0 20px #2cd359;
        display: block;
        margin: 0;
        padding: 0;
        margin-top: 2rem;
    }
    
    .input-column h2 {
        text-align: center;
    }

    .input-column label {
        text-align: center;
    }

    .input-column input {
        margin: 5px 0;
        box-sizing: border-box;
        background: #303b5ad6;
        border: none;
        border-radius: 23px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: rgb(199, 193, 193);
        font-size: 16px;
        padding: 15px;
        text-align: left;
        display: inline-block;
    }   
} */

@media (max-width: 980px) 
{
    body {
        text-align: center;
    }
    .container {
        width: max-content;
        z-index: 1;
        background: transparent;
        border-radius: 30px; 
        display: block;
        text-align: center;
    }

    .input-column {
        width: 80%;
        height:max-content;
        padding: 20px;
        margin-top: 0rem;
        box-sizing: border-box;
        border-radius: 30px;
        z-index: 3;
        text-align: center;
        color: white;
        display:block;
        margin-left: 12%;
    }

    .map-column {
        text-align: center;
        width: calc(90% - 22px);
        height: calc(70% - 22px);
        border-radius: 30px; 
        box-shadow: 0 0 20px #2cd359;
        display: block;
        margin: 0;
        padding: 0;
        margin-top: 2rem;
        margin-left: 8%;
    }
    
    .input-column h2 {
        text-align: center;
    }

    .input-column label {
        text-align: center;
    }

    .input-column input {
        /* width: calc(90% - 22px); */
        margin: 5px 0;
        box-sizing: border-box;
        background: #303b5ad6;
        border: none;
        border-radius: 23px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: rgb(199, 193, 193);
        font-size: 16px;
        padding: 15px;
        text-align: left;
        display: inline-block;
    }

    
}